:root {
  --background-color: #ffffff;
  --main-text-color: #212121;
  --text-color: #000000;
  --additional-text-color: #757575;
  --active-color: #2196f3;
  --background-hero: #2f303a;
  --background-overlay: #c4c4c4;
  --background-icons: #f5f4fa;
}

body {
  background-color: var(--background-color);
  color: var(--additional-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  margin: 0;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  box-sizing: border-box;
}
header {
  border-bottom: 1px solid #ececec;
}
/*шапка сайта*/

li {
  margin: 0;
}
.main-nav,
.all-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin: 0 0 0 93px;
  padding-left: 0;
}
.site-nav .list-nav:not(:last-child) {
  margin-right: 50px;
}
.site-nav .nav-link {
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  padding: 32px 0;
}

.site-nav .nav-link:hover,
.site-nav .nav-link:focus,
.site-nav .nav-link:active {
  color: var(--active-color);
}

.nav-contacts {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-contacts .contacts {
  color: var(--additional-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.nav-contacts .list-nav + .list-nav {
  margin-left: 50px;
}

.nav-contacts .contacts:hover,
.nav-contacts .contacts:focus,
.nav-contacts .contacts:active {
  color: var(--active-color);
}

.contacts {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-contacts {
  padding: 0;
  margin-right: 10px;
  fill: currentColor;
}

/* оформление логотипа */

.logo-header,
.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  color: var(--active-color);
}
.logo-header > .logo-studio {
  color: var(--text-color);
}
.logo-footer > .logo-studio {
  color: var(--background-color);
}

/* Блок-герой */

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-overlay);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(images/img-min.jpg), url(images/img-overlay-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-section {
  text-align: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  text-align: center;
  align-items: center;

  margin: 0;
}

.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: inline-block;
  letter-spacing: 0.06em;
  background-color: var(--active-color);
  color: var(--background-color);
  cursor: pointer;
  padding: 10px 32px;
  margin-top: 30px;
  margin-right: 0;
  border-style: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*блок наши преимущества*/

.section-pluses .list-of-pluses {
  display: flex;
}
.section-pluses {
  padding: 94px 0;
}

/*скрытие заголовков*/
.our-pluses,
.portfolio,
.selection-works,
.studio-projects,
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.list-of-pluses {
  margin: 0;
  padding: 0;
}
.list-of-pluses .item-of-pluses:not(:last-child) {
  margin-right: 30px;
}
.item-of-pluses {
  width: 270px;
}

.comands-pluses {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--main-text-color);

  padding-bottom: 10px;
  margin: 0;
}

.description-pluses {
  font-size: 14px;
  line-height: 24px;
  color: var(--additional-text-color);
  margin: 0;
}

.ground-of-icons {
  display: inline-flex;
  width: 270px;
  height: 120px;
  background-color: var(--background-icons);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.icons-of-pluses {
  width: 70px;
  height: 70px;
}

/*Блок чем мы занимаемся*/

.block-we-do {
  padding: 0 0 94px 0;
}

.we-do,
.our-comands,
.title-clients {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--main-text-color);
  margin: 0;
  padding-bottom: 50px;
}

.list-we-do {
  display: flex;
  margin: 0;
}

.list-we-do,
.list-team {
  padding: 0;

  display: flex;
  align-items: center;
}

img {
  display: blok;
  max-width: 100%;
  height: auto;
}

.list-we-do .item-we-do:not(:last-child) {
  margin-right: 30px;
}

/*наша команда*/

.comands {
  background-color: #f5f4fa;
  padding: 94px 0;
  display: flex;
}
.list-team {
  margin: 0;
}
.list-team .item-team:not(:last-child) {
  margin-right: 30px;
}

.fond-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--main-text-color);

  text-align: center;
  padding-top: 30px;
  margin: 0;
}

.profession {
  font-size: 16px;
  line-height: 19px;
  color: var(--additional-text-color);

  text-align: center;
  padding: 10px 0 16px;
  margin: 0;
}

.team-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 0 30px;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--background-color);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--active-color);
  border-radius: 50%;
}

.item-soc-link {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-soc-link:hover .item-soc-link,
.team-soc-link:focus .item-soc-link {
  fill: var(--background-color);
}

.type-link:not(:last-child) {
  margin-right: 10px;
}

/*постоянные клиенты*/

.regular-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-clients {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.icon-client {
  fill: currentColor;
}

.client-link:focus,
.client-link:hover {
  color: var(--active-color);
  border-color: var(--active-color);
}

.client-type:not(:last-child) {
  margin-right: 30px;
}

/*футер*/

.block-foot {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.general-block {
  display: flex;
}

.general-block2 {
  display: inline-block;
  margin-left: 70px;
  flex-wrap: wrap;
}

.foot-address {
  margin: 0;
  padding: 20px 0 0;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--background-color);
  padding-bottom: 9px;
}

.foot-contacts {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 9px;
}

.social-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--background-color);
  margin: 0;
  padding-bottom: 20px;
}

.social-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-items {
  width: 20px;
  height: 20px;
  fill: var(--background-color);
}

.social-link:focus,
.social-link:hover {
  background-color: var(--active-color);
}

.social-list-links:not(:last-child) {
  margin-right: 10px;
}

/*страница портфолио*/

.offers-company {
  padding: 94px 0;
}

.btn-selection {
  display: flex;
  justify-content: center;
  margin: 0 0 50px 0;
  padding: 0;
  border-radius: 4px;
}
.btn-choice {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
  font-style: normal;
  text-align: center;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: 0;
  outline: none;
  padding: 6px 22px;
  border-radius: 4px;
}

.btn-choice:hover,
.btn-choice:focus {
  color: var(--background-color);
  background-color: var(--active-color);
}

.btn-selection .item-btn:not(:last-child) {
  margin-right: 8px;
}

/* блок проектов компании*/

.stud-projects {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.item-project {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.item-project:nth-child(3n) {
  margin-right: 0;
}

.item-project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.context-card {
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;
}

.decor-item {
  padding: 20px 24px;
}

.name-projects {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin: 0;
}

.type-projects {
  font-size: 16px;
  line-height: 30px;
  color: var(--additional-text-color);
  margin: 0;
}

.project-link:hover,
.project-link:focus {
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
